h1 {
  position: relative;
  color: transparent;
  margin: 0;
  padding: 0;
  font-size: 18rem;
  letter-spacing: -0.3rem;
  background-image: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  background-clip: text;
}

h1::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 200%;
  height: 100%;
  background: white;
  animation: moveSpotlight 3s forwards;
}

@keyframes moveSpotlight {
  0% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
  100% {
    clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);
  }
}
